 @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        #header{
            margin-bottom: 80px !important;
        }

        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }
    
        #sidebar {
            position: fixed;
            z-index: 1;
            height: 100%;
            overflow-x: hidden;
            left: 0px;
            width: 14%;
            color: #000;
            background: #e6e8f2;
            transition: all 0.3s;
            min-width: 250px;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0px;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #e6e8f2;
        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            color: #000;
            background: #e6e8f2;
        }

        a.article,
        a.article:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        }

        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }
        
        #logout {
            float: right;
        }

        .navbar-toggler {
            margin-left: 250px;
        }

        .collapsed {
            margin-left: 0px !important;
        }

        #main-content {
                width: 100% !important;
                border: 1px solid #d4d2d2 !important;
                /* margin: 10px 50px 10px 280px !important; */
        }

        .classSection{
            font-size: 1.25em;
        }


        @media(maz-width:768px) {
            #sidebar {
                margin-left: -250px;
                min-width: 250px;
                max-width: 250px;
            }

            #sidebar.active {
                margin-left: 0px;
            }

            #sidebarCollapse span {
                display: none;
            }

        }